# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg-info/
*.egg

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Cursor
*.cursor

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
